.nav > .navbar-wrapper {
    transform: skewY(-2deg);
    transform-origin: top left;

}

.footer-wrapper {
    left: 0;
    bottom: 0;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form > .form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form > .form-items > .form-group{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
}

.form > .form-items > .form-group > input{
    width: 100%;
    display: block;
    transition: all 0.3s;
}
.form > .form-items > .form-group > label{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #cea135;
    visibility: hidden;
    opacity: 0;
}
.form > .form-items > .form-group > input:focus + label, .form > .form-items > .form-group > textarea:focus + label{
    opacity: 1;
    visibility: visible;
    transform:translateY(1rem)
}
.form > .form-items > .form-group > textarea{
    height: 250px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #11122b;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}
.form > .form-items > .form-group > textarea:focus{
    outline: none;
    border-bottom: 3px solid #cea135;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}
.form > .form-items > .form-group > input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.form > .form-items > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form > .form-items > .form-group > .send{
    background-color: #cea135;
    color: #fff;
    padding: 10px 20px;
    width: 20%;
    outline: none;
    border: 1px solid #cea135;
}

.form > .form-items > .form-group > .send:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #11122b;
    border-radius: 2px;
}